.wrapper {
  width: 100%;
}

.title {
  font-size: 22px;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 0;
}

.daily-cards {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 970px) {
  .daily-cards {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .title {
      margin-top: 5px;
  }
}
