.wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 40px;
}

@media screen and (max-width: 970px) {
  .wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 740px) {
    .wrapper {
        margin-top: 20px;
    }
}
