.nav-wrapper {
  display: flex;
  flex-direction: column;
}

.span {
  display: none;
  background: #7cd6ff;
  height: 4px;
  width: 33px;
  margin: 2px;
}

@media screen and (max-width: 740px) {
  .span {
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .nav-wrapper {
    margin-right: 20px;
  }
}
