.profile-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 0 50px auto auto;
  align-items: center;
}

.bell-wrapper {
  display: flex;
  position: relative;
  margin-right: 10px;
}

.icon {
  width: 25px;
  height: 25px;
  font-size: 25px;
  text-align: center;
}

.status {
  position: absolute;
  display: flex;
  width: 7px;
  height: 7px;
  background: lime;
  border-radius: 50%;
  left: 16px;
  top: 5px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.username {
  margin-right: 10px;
  font-weight: 400;
}

.chevron-open {
  color: #de449c;
  width: 45px;
  font-size: 25px;
  transition: 300ms;
  transform: translateY(-20px);
}

.chevron-closed {
  width: 45px;
  font-size: 25px;
  transition: 300ms;
  animation-name: "pulse";
  animation-fill-mode: none;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    color: #717171;
  }
  100% {
    color: aqua;
  }
}

.nav-menu {
  display: none;
  position: absolute;
  background: white;
  border: 2px solid #ecf4f7;
  border-radius: 10px;
  z-index: 10;
  top: 60px;
  right: 20px;
  padding: 25px 30px 15px 30px;
}

.nav-ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.nav-li {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.nav-li:hover * {
  color: #de449c;
}

.icon-menu {
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 25px;
  color: #717171;
  margin-right: 25px;
}

.link {
  color: black;
  text-transform: capitalize;
}

.active {
  display: flex;
}

@media screen and (max-width: 970px) {
  .profile-image {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 740px) {
  .profile-wrapper {
    display: none;
  }
}
