.div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bell-wrapper {
  display: flex;
  position: relative;
  margin-right: 15px;
}

.i {
  width: 25px;
  height: 25px;
  font-size: 25px;
  text-align: center;
}

.status {
  position: absolute;
  display: flex;
  width: 8px;
  height: 8px;
  background: lime;
  border-radius: 50%;
  left: 15px;
  top: 5px;
}

.image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.username {
  margin-right: 5px;
  font-weight: 400;
}

@media screen and (max-width: 970px) {
  .image {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 740px) {
  .div {
    display: none;
  }
}
